                                                           /*Le deuxieme BLOCK*/
.Contenu3{ 
	width:100%;
	z-index:8;
	height:100%;
	position:absolute;
	bottom:-200%;
	right:0.1%;
	/* display:none; */
}
/* #BTN{
	display:none;
	position:fixed;
	top:100px;
	right:80px;
}
.BTN1,.BTN2,.BTN3{
	block
	 text-align:center;
	width:150px;
	padding:20px;
	background-color:rgb(112,233,31);
} */
#ListeA,#ListeB{
	
}
#MB2{
	display:none;
	z-index:9;
	position:absolute;
	top:120px;
	right:50px;
	width:50px;
	height:50px;
	background-color:rgb(112,233,31);
	border-radius:100%;
	box-shadow: 10px 10px 30px black;
	transition: transform 0.1s ease-in-out;
}
#MB2 img{
	position:relative;
	top:12px;
	left:10px;
	width:30px;
	height:24px;
}
#MB2:hover{
	transform:scale(1.2);
}
#MB2:active{
	transform:scale(1);
}
.DF2{
	position:relative;
	display:inline-block;
	float:right;
	width:20%;
	height:100%;
	overflow-y:hidden;
	z-index:8;
}
.DF2 a{
	text-decoration:none;
	color:white;
	display:inline-block;
	
}
#BTN2{
	position:absolute;
	right:0px;
	display:none;
	background-color:yellow;
	height:100%;
	width:200px;
	z-index:11;
}
#SA,#SR{
	position:relative;
	display:flex;
	background-color:rgb(0,100,200);
	border-radius:0px;
	margin-top:10px;
	width:100%;
	height:200px;
}
#SA a,#SR a{
	margin:auto;
}
#SRL,#SAL{
	display:none;
}
/* #scrollBar{
	position:fixed;
	right:0px;
	display:inline-block;
	background-color:black;
	opacity:0.7;
	width:10px;
	height:350px;
	border-radius:25px;
} */
.FilmCategorie{
	width:200px;
	height:200px;
	background-color:green;
	display:block;
}
.FilmCategorieFooter{
	width:200px;
	height:35px;
	background-color:green;
	display:block;
}
.T{
	font-family:Police;
	position:relative;
	left:100px;
	top:75px;
	font-size:96px;
	color:black;
	text-shadow: 15px 5px 15px;
}
.Trailer{
	position:relative;
	top:75px;
	left:150px;
}
.Trailer video{/*iframe*/
	width:500px;
}
.DS2{
	background-color:white;
	background-repeat:no-repeat;
	background-size:contain;
	background-size:100% 100%;
	height:100%;
	width:100%;
}