#scrollBar1{
	position:absolute;
	right:0px;
	z-index:2;
	display:inline-block;
	background-color:black;
	opacity:0.7;
	width:10px;
	height:92%;
	border-radius:25px;
}
#BTN1{
	overflow:hidden;
}

#scrollBarA1{
	position:absolute;
	top:0px;
	right:0px;
	z-index:2;
	display:inline-block;
	background-color:black;
	opacity:0.7;
	width:10px;
	height:245px;
	border-radius:25px;
}